catboost_info/
afi-env/
.ipnyb_checkpoints/
backup/
*.ipnyb
startbootstrap-sb-admin-2-gh-pages/
*.zip
weatherAUS - Copy.csv
weatherAUS1000.csv
weatherAUS3000 .csv
weatherAUS5000.csv
weatherAUS70000.csv